@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif; 
}
@theme {
  --font-bebas: "Bebas Neue", sans-serif;
}
.font-anton {
  font-family: 'Anton', sans-serif;
}
.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}
.font-playfair {
  font-family: 'Playfair Display', serif;
}
.ease-super {
  transition-timing-function: cubic-bezier(0.35, 1.5, 0.6, 1);
  /*--animation-bounce: 0.4s cubic-bezier(0.35, 1.5, 0.6, 1);*/
}

.corner {
  position: relative;
  background-image: radial-gradient(circle at 100% 100%, transparent calc(var(--border-radius) * var(--corner-size)), var(--color-light) calc((var(--border-radius) * var(--corner-size)) + 0.5px));
}