@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* Solo si estás usando Tailwind vía PostCSS */
@import "tailwindcss";

:root {
  --title-size: clamp(3em, 7vw, 9.5em);
  --text-size: clamp(5em, 7vw, 9.5em);
  --semiTitle-size: clamp(3.5em, 5vw, 6em);
  --font-roboto: "Roboto", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
}

.big-title {
  font-size: calc(var(--title-size) * 1.4);
}

.semiBig-title {
  font-size: calc(var(--semiTitle-size) * 1);
}

.normal-text {
  font-size: calc(var(--text-size) * 0.2);
}

#giraLogo {
  view-timeline: --efecto block;
  animation-timeline: --efecto;
  animation-name: giraLogo;
  animation-range: entry 100% exit 100%;
  animation-fill-mode: both;
}

.font-anton {
  font-family: 'Anton', sans-serif;
}

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.ease-super {
  transition-timing-function: cubic-bezier(0.35, 1.5, 0.6, 1);
}

@keyframes giraLogo {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(90deg);
  }
}